opendaylight/md-sal/sal-rest-docgen/src/test/resources/wadl.xml

<?xml version="1.0"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:inet="urn:ietf:params:xml:ns:yang:ietf-inet-types"
             xmlns:nt="urn:TBD:params:xml:ns:yang:network-topology">

  <grammars>
    <include href="network-topology.yang"/>
    <include href="ietf-inet-types.yang"/>
  </grammars>

  <resources base="http://localhost:9998/restconf">
    <resource path="operational">
      <resource path="network-topology:network-topology">
        <method name="GET">
          <response>
            <representation mediaType="application/xml" element="nt:network-topology"/>
            <representation mediaType="text/xml" element="nt:network-topology"/>
            <representation mediaType="application/json" element="nt:network-topology"/>
            <representation mediaType="application/yang.data+xml" element="nt:network-topology"/>
            <representation mediaType="application/yang.data+json" element="nt:network-topology"/>
          </response>
        </method>
        <resource path="topology/{topology-id}">
          <param required="true" style="template" name="topology-id" type="nt:topology-id"/>
          <method name="GET">
            <response>
              <representation mediaType="application/xml" element="nt:topology"/>
              <representation mediaType="text/xml" element="nt:topology"/>
              <representation mediaType="application/json" element="nt:topology"/>
              <representation mediaType="application/yang.data+xml" element="nt:topology"/>
              <representation mediaType="application/yang.data+json" element="nt:topology"/>
            </response>
          </method>
          <resource path="link/{link-id}">
            <param required="true" style="template" name="link-id" type="nt:link-id"/>
            <method name="GET">
              <response>
                <representation mediaType="application/xml" element="nt:link"/>
                <representation mediaType="text/xml" element="nt:link"/>
                <representation mediaType="application/json" element="nt:link"/>
                <representation mediaType="application/yang.data+xml" element="nt:link"/>
                <representation mediaType="application/yang.data+json" element="nt:link"/>
              </response>
            </method>
            <resource path="destination">
              <method name="GET">
                <response>
                  <representation mediaType="application/xml" element="nt:destination"/>
                  <representation mediaType="text/xml" element="nt:destination"/>
                  <representation mediaType="application/json" element="nt:destination"/>
                  <representation mediaType="application/yang.data+xml" element="nt:destination"/>
                  <representation mediaType="application/yang.data+json" element="nt:destination"/>
                </response>
              </method>
            </resource>
            <resource path="source">
              <method name="GET">
                <response>
                  <representation mediaType="application/xml" element="nt:source"/>
                  <representation mediaType="text/xml" element="nt:source"/>
                  <representation mediaType="application/json" element="nt:source"/>
                  <representation mediaType="application/yang.data+xml" element="nt:source"/>
                  <representation mediaType="application/yang.data+json" element="nt:source"/>
                </response>
              </method>
            </resource>
            <resource path="supporting-link/{link-ref}">
              <param required="true" style="template" name="link-ref" type="nt:link-ref"/>
              <method name="GET">
                <response>
                  <representation mediaType="application/xml" element="nt:supporting-link"/>
                  <representation mediaType="text/xml" element="nt:supporting-link"/>
                  <representation mediaType="application/json" element="nt:supporting-link"/>
                  <representation mediaType="application/yang.data+xml" element="nt:supporting-link"/>
                  <representation mediaType="application/yang.data+json" element="nt:supporting-link"/>
                </response>
              </method>
            </resource>
          </resource>
          <resource path="node/{node-id}">
            <param required="true" style="template" name="node-id" type="nt:node-id"/>
            <method name="GET">
              <response>
                <representation mediaType="application/xml" element="nt:node"/>
                <representation mediaType="text/xml" element="nt:node"/>
                <representation mediaType="application/json" element="nt:node"/>
                <representation mediaType="application/yang.data+xml" element="nt:node"/>
                <representation mediaType="application/yang.data+json" element="nt:node"/>
              </response>
            </method>
            <resource path="supporting-node/{node-ref}">
              <param required="true" style="template" name="node-ref" type="nt:node-ref"/>
              <method name="GET">
                <response>
                  <representation mediaType="application/xml" element="nt:supporting-node"/>
                  <representation mediaType="text/xml" element="nt:supporting-node"/>
                  <representation mediaType="application/json" element="nt:supporting-node"/>
                  <representation mediaType="application/yang.data+xml" element="nt:supporting-node"/>
                  <representation mediaType="application/yang.data+json" element="nt:supporting-node"/>
                </response>
              </method>
            </resource>
            <resource path="termination-point/{tp-id}">
              <param required="true" style="template" name="tp-id" type="nt:tp-id"/>
              <method name="GET">
                <response>
                  <representation mediaType="application/xml" element="nt:termination-point"/>
                  <representation mediaType="text/xml" element="nt:termination-point"/>
                  <representation mediaType="application/json" element="nt:termination-point"/>
                  <representation mediaType="application/yang.data+xml" element="nt:termination-point"/>
                  <representation mediaType="application/yang.data+json" element="nt:termination-point"/>
                </response>
              </method>
            </resource>
          </resource>
          <resource path="topology-types">
            <method name="GET">
              <response>
                <representation mediaType="application/xml" element="nt:topology-types"/>
                <representation mediaType="text/xml" element="nt:topology-types"/>
                <representation mediaType="application/json" element="nt:topology-types"/>
                <representation mediaType="application/yang.data+xml" element="nt:topology-types"/>
                <representation mediaType="application/yang.data+json" element="nt:topology-types"/>
              </response>
            </method>
          </resource>
          <resource path="underlay-topology/{topology-ref}">
            <param required="true" style="template" name="topology-ref" type="nt:topology-ref"/>
            <method name="GET">
              <response>
                <representation mediaType="application/xml" element="nt:underlay-topology"/>
                <representation mediaType="text/xml" element="nt:underlay-topology"/>
                <representation mediaType="application/json" element="nt:underlay-topology"/>
                <representation mediaType="application/yang.data+xml" element="nt:underlay-topology"/>
                <representation mediaType="application/yang.data+json" element="nt:underlay-topology"/>
              </response>
            </method>
          </resource>
        </resource>
      </resource>
    </resource>
  </resources>
</application>
